.container{
    background-image: url(../assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 10px auto;
    height: max-content;
    padding: 40px;

}

.titlle{
    font-family: fantasy;
    text-align: center;
    margin: 5px auto;
    padding: 5px;
    border-radius: 2%;
    background-color: #7dd1cd;
}

.espe{
    background-color: #adc965;
    text-align: center;
    font-weight: bold;
    margin: auto;
    width: 60%;
    
}
.card{   
    margin: 25px auto;
    padding: 20px;
    border-radius: 2%;
}

.list-group-item{
    line-height: 1;    
    border-radius: 2%;
    background-color: #edc568;
    border: none;
    width: 90%;
    margin: 20px auto;
    padding-top: 10px;
    padding-left: 30px;
}

.icon-field{
    font-size: 16px;
}

.form{
    margin: 25px auto;
    text-align: center;
}

.input-field{
    width: 60%;
    margin: auto;
}

.button{
    margin: 10px 5px;
}

.button-ok{
    background-color: #adc965;
}

.cite{
    font-size: 14px;
}